<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>UFAB - Biblioteca Central</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="rating" content="mature">
    <link type="text/css" href="css/style.css" rel="stylesheet">
</head>
<body class="center">
    <header>
        <nav id = "menu">
            <img src="img/logo2.png" alt ="UFAB">
            <ul class="menu"> <!-- Esse é o 1 nivel ou o nivel principal -->
                <li><a href="index.html">Inicio</a></li>
                <li><a href="emprestimo.html" target="iframeguia">Realizar Emprestimo</a></li>
                <li><a href="devolucao.html" target="iframeguia">Devolução</a></li>
                <li><a href="#">Cadastrar</a>
                    <ul class="submenu-1"> <!-- Esse é o 2 nivel ou o primeiro Drop Down -->
                       <li><a href="alunoCadastro.html" target="iframeguia">Aluno</a></li>
                       <li><a href="usuarioCadastro.html" target="iframeguia">Funcionario</a></li>
                       <li><a href="cursoCadastro.html" target="iframeguia">Curso</a></li>
                       <li><a href="anaisCadastro.html" target="iframeguia">Anais</a></li>
                       <li><a href="livroCadastro.html" target="iframeguia">Livro</a></li>
                       <li><a href="jornalCadastro.html" target="iframeguia">Jornal</a></li> 
                       <li><a href="revistaCadastro.html" target="iframeguia">Revista</a></li>
                       <li><a href="trabalhoCadastro.html" target="iframeguia">Trabalho</a></li> 
                       <li><a href="midiaCadastro.html" target="iframeguia">Mídia</a></li> 
                   </ul>
               </li>
               <li><a href="#">Atualizar</a></li>
               <ul class="submenu-1"> <!-- Esse é o 2 nivel ou o primeiro Drop Down -->
                   <li><a href="#" target="iframeguia">Aluno</a></li>
                   <li><a href="#">Funcionario</a></li>
                   <li><a href="#">Curso</a></li>
                   <li><a href="#">Anais</a></li>
                   <li><a href="#">Livro</a></li>
                   <li><a href="#">Livro</a></li>
                   <li><a href="#">Jornal</a></li> 
                   <li><a href="#">Revista</a></li>
                   <li><a href="#">Trabalho</a></li>
                   <li><a href="#">Acervo</a></li> 
               </ul>
               <li><a href="#">Buscar</a></li>    
           </nav><!-- fim nav -->

           <section class="conteiner">
            <iframe src="" id="iframeguia" name="iframeguia">

            </iframe> 
        </section>
    </header>
    

    
    <footer>
        <small class="copyright">

            <p>Copyright © 2018 desenvolvedores Caio & José </p>
        </small>
    </footer>
</body>
</html>
